.stButton > button{
    background-color: slategray
}

.stButton > button:hover{
    background-color: cyan;
    color: white;
    border-color: black;

}

#cadastre-se{
    color: paleturquoise;
}

.stMain{
    background-color: black;
}

.stAppEmbeddingId-snmc1de15urpst-emotion-cache-13k62yrerw9t6i0{
    background-color: black;
}

#text_input_1{
    background-color: lightsteelblue;
}

#text_input_2{
    background-color: lightsteelblue;
}

#text_input_3{
    background-color: lightsteelblue;
}

#text_input_4{
    background-color: lightsteelblue;
}
#text_input_5{
    background-color: lightsteelblue;
}

#text_input_6{
    background-color: lightsteelblue;
}

.st-emotion-cache-sih973{
    background-color: black;
}

.st-emotion-cache-kgpedg{
    background-color: black;
}

.st-emotion-cache-1fttcpj{
    background-color: black;
}

.st-emotion-cache-1tuwfdi{
    background-color: black;
}

.st-emotion-cache-1i2wz1k{
    background-color: black;
}

.st-emotion-cache-6qob1r{
    background-color: black;
}

.st-emotion-cache-bm2z3a{
    background-color: white;
}

.st-emotion-cache-bm2z3a{
    background-color: black;
}

.st-emotion-cache-bm2z3a{
    background-color: white;
}

.st-emotion-cache-bm2z3a{
    background-color: black;
}

#text_input_7{
    background-color: lightsteelblue;
}

#text_input_8{
    background-color: lightsteelblue;
}

#text_input_9{
    background-color: lightsteelblue;
}

#text_input_10{
    background-color: lightsteelblue;
}

#text_input_11{
    background-color: lightskyblue;
}

#text_area_1{
    background-color: darkcyan;
}


#bfc1adf9{
    color: black;
}

.st-emotion-cache-1y5f4eg{
    color: white;
}

.st-emotion-cache-1wbqy5l{
    visibility: hidden;
}

.st-emotion-cache-1b2ybts{
    visibility: hidden;
}

#text_area_3{
    color: white;
}

#text_input12{
    color: lightsteelblue;
}

#text_input13{
    color: lightsteelblue;
}

#text_input14{
    color: lightsteelblue;
}

#text_input15{
    color: lightsteelblue;
}

#text_input16{
    color: lightsteelblue;
}

.stAppHeader{
    background-color: black;
}

#text_area_13{
    background-color: darkgrey;
}

#text_area_1{
    background-color: darkgray;
}

#text_area_33{
    background-color: dimgray;
}

#text_area_34{
    background-color: dimgray;
}

#text_area_35{
    background-color: dimgray;
}

#text_area_36{
    background-color: dimgray;
}

#text_area_37{
    background-color: dimgray;
}

#text_input_1{
    background-color: dimgray;
}

#text_input_2{
    background-color: dimgray;
}

#text_input_3{
    background-color: dimgray;
}

#text_input_4{
    background-color: dimgray;
}

#text_input_5{
    background-color: dimgray;
}

#text_input_6{
    background-color: dimgray;
}

#text_input_7{
    background-color: dimgray;
}

#text_input_8{
    background-color: dimgray;
}

#text_input_9{
    background-color: dimgray;
}

#text_input_10{
    background-color: dimgray;
}

#text_input_11{
    background-color: dimgray;
}

#text_input_12{
    background-color: dimgray;
}

#text_input_13{
    background-color: dimgray;
}